body
{
    background-size: cover;
}

.note
{
   font-size: 15px;
   color:black;
}

h3
{
font-size: 20px;
width: 100%;
margin: 0;
}
#song_name
{
    width: 100px;
}
.canvas
{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #73cfd8;
    background-color: black;
}



